body {
    min-width: 320px !important;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

p {
    margin: 0 0 30px
}

nav {
    height: 65px;
    background-color: #fff;
    box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.07);
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 55;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

.nav-hamburger-menu {
    display: none;
    cursor: pointer;
    margin: 15px 0px 0 5%;
    width: 50px;
    vertical-align: top;
    float: left;
}

.nav-logo {
    font-size: 24px;
    line-height: 2.58;
    margin-right: 16%;
    text-transform: uppercase;
    float: left;
}

.nav-logo span {
    letter-spacing: 0.3px;
}

.nav-logo span:nth-child(1) {
    color: rgba(66, 37, 33, 0.85);
}

.nav-logo span:nth-child(2) {
    color: rgba(197, 183, 181, 0.85);
    margin: 0 -8px 0 -7px;
}

.nav-logo span:nth-child(3) {
    color: #91af5e;
}

.nav-menu {
    display: inline-block;
    line-height: 65px;
    margin: 0 auto;
    text-align: center;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.nav-menu ul li {
    text-align: center;
    margin-left: 35px;
    display: inline-block;
}

.nav-menu ul li:first-child {
    margin: 0;
}

.nav-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.7px;
    color: #b9b9b9;
    text-transform: uppercase;
}

.nav-menu .active-link {
    color: #5e4642;
}

header {
    object-fit: contain;
    padding-top: 65px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: linear-gradient(242deg, #c0e8e6, #d4ffb0 48%, #f2fce0);
    background-size: 400% 400%;
    -webkit-animation: Gradient 8s ease infinite;
    -moz-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;
}

header .container {
    max-width: 741px;
}

.header__title {
    font-size: 27px;
    line-height: 1.29;
    letter-spacing: 0.6px;
    color: #000;
    margin: 45px auto 50px auto;
    max-width: 670px;
    font-weight: 100;
}

.header__badges {
    margin-bottom: 6px;
}

.apple-badge {
    background: url(../img/appstore_link.png) no-repeat center black;
    background-size: 100%;
    display: inline-block;
    width: 131px;
    height: 40px;
    margin-right: 20px;
    border-radius: 6px;
}

.google-play-badge {
    background: url(../img/googleplay_link.png) no-repeat center black;
    background-size: contain;
    display: inline-block;
    width: 131px;
    height: 40px;
    border-radius: 6px;
}

.header__pic img {
    width: 100%
}

.second-section__content {
}

.second-section__content-title {
    margin: 81px 0 65px 0;
}

.second-section__content-title span:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #767676;
    display: block;
}

.second-section__content-title span:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    margin-bottom: 10px;
    display: block;
}

.second-section__content-title span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8;
    color: #767676;
    font-family: 'Roboto', sans-serif;
}

.second-section__content-text {
    font-size: 18px;
    line-height: 1.42;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.second-section__content-text ul {
    margin-bottom: 30px;
}

.second-section__content-text ul li {
    list-style-type: none
}

.second-section__pic {
    margin-top: 20px;
    text-align: center;
}

.second-section__pic img {
    width: 90%;
}

#third-section {
    background: #fbfbfb
}

.third-section__content-title {
    margin: 95px 0 65px 0;
}

.third-section__content-title span:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #767676;
    display: block;
}

.third-section__content-title span:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    margin-bottom: 10px;
    display: block;
}

.third-section__content-title span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #767676;
    font-family: 'Roboto', sans-serif;
}

.third-section__content-text {
    font-size: 18px;
    line-height: 1.42;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.third-section__pic {
    padding-left: 0;
    /* text-align: center; */
}

.third-section__pic img {
    width: 90%;
}

#fourth-section {
    background: #fff
}

.fourth-section__content {
    text-align: center
}

.fourth-section__content-title {
    margin: 61px 0 40px 0;
}

.fourth-section__content-title span:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #767676;
    display: inline-block;
    margin-right: 10px;
}

.fourth-section__content-title span:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    margin-bottom: 10px;
    display: inline-block;
}

.fourth-section__content-title span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #767676;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.fourth-section__content-text {
    font-size: 18px;
    line-height: 1.42;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-weight: 300;
}

.fourth-section__bottom-pic {
    padding: 0;
}

.fourth-section__bottom-pic img {
    width: 100%;
}

.fourth-section__bottom {
    margin-bottom: 40px;
}

.fourth-section__bottom-text {
    font-family: 'Raleway', sans-serif;
    margin-top: 75px;
    padding: 0;
}

.main {
    font-size: 23px;
    font-weight: 300;
    color: #525252;
    margin-bottom: 28px;
}

.feature {
    margin-bottom: 11px;
}

.feature-gradient {
    width: 24px;
    height: 9px;
    display: inline-block;
    margin-right: 20px;
}

.feature-text {
    font-size: 17px;
    font-weight: 500;
    color: #525252;
    max-width: 322px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.4;
}

.fg1 {
    background-image: linear-gradient(109deg, #f4d03f, #16a085);
}

.fg2 {
    background-image: linear-gradient(77deg, #485563, #29323c);
}

.fg3 {
    background-image: linear-gradient(249deg, #ff057c, #7c64d5 48%, #4cc3ff);
}

.fg4 {
    background-image: linear-gradient(to left, #fee140, #fa709a);
}

.fg5 {
    background-image: linear-gradient(291deg, #e2d1c3, #fdfcfb);
}

.fg6 {
    background-image: linear-gradient(to top, #c1dfc4, #deecdd);
}

.fg7 {
    background-image: linear-gradient(to top, #6a85b6, #bac8e0);
}

#fifth-section {
    background: #221614
}

.fifth-section__content {
    text-align: center
}

.fifth-section__content-title {
    margin: 61px 0 40px 0;
}

.fifth-section__content-title span:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
}

.fifth-section__content-title span:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}

.fifth-section__content-title span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.fifth-section__content-text {
    font-size: 18px;
    line-height: 1.42;
    color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 300;
}

.fifth-section__bottom-pic {
    padding-left: 72px;
}

.fifth-section__bottom-pic img {
    width: 100%;
}

.fifth-section__bottom {
    margin-bottom: 40px;
}

.fifth-section__bottom-text {
    font-family: 'Raleway', sans-serif;
    padding: 0;
}

#fifth-section .main {
    color: #bfbfbf
}

#fifth-section .feature-text {
    color: #bfbfbf
}

#sixth-section {
    background: #fff
}

.sixth-section__content {
    text-align: center
}

.sixth-section__content-title {
    margin: 61px 0 40px 0;
}

.sixth-section__content-title span:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #767676;
    display: inline-block;
    margin-right: 10px;
}

.sixth-section__content-title span:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    margin-bottom: 10px;
    display: inline-block;
}

.sixth-section__content-title span:nth-child(3) {
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    margin-bottom: 10px;
    display: block;
}

.sixth-section__content-title span:nth-child(4) {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #767676;
    font-family: 'Roboto', sans-serif;
}

.sixth-section__content-text {
    font-size: 18px;
    line-height: 1.42;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-weight: 300;
}

.sixth-section__bottom-pic {
    padding: 0;
}

.sixth-section__bottom-pic img {
    width: 100%;
}

.sixth-section__bottom {
    margin-bottom: 40px;
}

.sixth-section__bottom-text {
    font-family: 'Raleway', sans-serif;
    margin-top: 75px;
    padding: 0;
}

#seventh-section {
    background: #f8ffec;
}

.seventh-section__content {
    text-align: center;
}

.seventh-section__content-title {
    margin: 61px 0 40px 0;
}

.seventh-section__content-title span:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    font-size: 57px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    display: inline-block;
    margin-right: 10px;
}

.seventh-section__content-title span:nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 57px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #3f2420;
    margin-bottom: 10px;
    display: inline-block;
}

.seventh-section__content-title span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.seventh-section__content-text {
    font-size: 18px;
    line-height: 1.42;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 300;
}

.seventh-section__bottom-pic {
}

.seventh-section__bottom-pic img {
    width: 100%;
}

.seventh-section__bottom {
    margin-bottom: 40px;
}

.seventh-section__bottom-text {
    font-family: 'Raleway', sans-serif;
    margin-top: 45px;
    padding: 0;
}

#seventh-section .main {
    color: #525252;
}

#seventh-section .feature-text {
    color: #525252;
}

#eight-section {background: url(../img/eight-section-bg.png) no-repeat center;background-size: cover;padding-bottom: 69px;}
.eight-section__content-title {
    margin:  0;
    margin-top: 60px;
}
#eight-section a {color: #fff}
.eight-section__content-title span {
    font-family: 'Raleway', sans-serif;
    font-size: 37px;
    font-weight: normal;
    line-height: 1.12;
    letter-spacing: 0.6px;
    color: #fff;
    display: block;
}
.eight-section__leftinfo {
    margin-top: 74px;
    padding-left: 6%;
}
.eight-section__leftinfo span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-bottom: 25px;
}





.eight-section__rightinfo {
    /* margin-bottom: 70px; */
    margin-top: 74px;
    padding-left: 6%;
}
.eight-section__rightinfo span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-bottom: 25px;
}




footer {
    height: 50px;
    line-height: 50px;
    background-color: #221614;
    font-family: 'Raleway', sans-serif;
}

.footer-copyright {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.8px;
    color: #fff;
    display: inline-block;
    float: left;
    font-family: 'Roboto', sans-serif;
}

.footer-createdby {
    background: url(../img/seventech.png) no-repeat center;
    background-size: contain;
    width: 107.1px;
    height: 50px;
    float: right;
}

@media (max-width: 1200px) {
    .feature-text {
        max-width: 250px;
    }
}


@media (min-width: 992px) {
    .mobile-pic {
        display: none
    }

}

@media (max-width: 991px) {

    nav {
        height: 100px;
        text-align: center;
    }

    .nav-logo {
        display: block;
        float: none;
        margin: 0
    }

    .nav-menu {
        line-height: 1.5;
        display: block;
    }

    header {
        padding-top: 100px
    }

    .third-section__pic {
        display: none
    }

    .mobile-pic {
        display: block !important;
        padding-left: 10px
    }

    .fourth-section__bottom-text {
        padding: 0 15px;
    }

    .fifth-section__bottom-pic {
        margin-top: 40px;
        padding: 0 15px;
    }

    .eight-section__leftinfo {padding:0; text-align: center}
    .eight-section__rightinfo {padding:0;text-align: center;}
    .eight-section__content-title {text-align: center}

}

@media (max-width: 650px) {
    nav {
        height: 65px;
        text-align: left;
    }

    header {
        padding-top: 65px;
    }

    .nav-hamburger-menu {
        display: inline-block;
    }

    .nav-hamburger-menu img {
        width: 100%
    }

    .nav-logo {
        display: inline-block;
        float: none;
        margin: 0;
        line-height: 65px;
        float: right;
        margin-right: 5%;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu ul li a {
        font-size: 15px;
    }

    .nav-menu ul li {
        display: block;
        margin: 4px 0
    }

    .second-section__content-title {
        text-align: center
    }

    .third-section__content-title {
        text-align: center
    }

    .second-section__content-title span:nth-child(1) {
        font-size: 37px
    }

    .second-section__content-title span:nth-child(2) {
        font-size: 37px
    }

    .third-section__content-title span:nth-child(1) {
        font-size: 37px
    }

    .third-section__content-title span:nth-child(2) {
        font-size: 37px
    }

    .fourth-section__content-title span:nth-child(1) {
        font-size: 37px
    }

    .fourth-section__content-title span:nth-child(2) {
        font-size: 37px
    }

    .fifth-section__content-title span:nth-child(1) {
        font-size: 37px
    }

    .fifth-section__content-title span:nth-child(2) {
        font-size: 37px
    }

    .fifth-section__content-text {
        margin-bottom: 0
    }

    .sixth-section__content-title span:nth-child(1) {
        font-size: 37px
    }

    .sixth-section__content-title span:nth-child(2) {
        font-size: 37px;
        margin-bottom: 0;
    }

    .sixth-section__content-title span:nth-child(3) {
        font-size: 37px
    }

    .seventh-section__content-title span:nth-child(1) {
        font-size: 37px
    }

    .seventh-section__content-title span:nth-child(2) {
        font-size: 37px
    }

    .eight-section__content-title span {
        font-size: 37px
    }



    

    footer {
        height: auto;
        text-align: center
    }

    .footer-copyright {
        font-size: 18px;
        display: block;
        float: none;
    }

    .footer-createdby {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .second-section__content-text ul {
        padding: 0
    }
}

@media (max-width: 400px) {
    .feature-gradient {
        margin-right: 5px
    }

    .feature-text {
        font-size: 14px;
        margin-top: 2px;
        max-width: 150px;
        text-align: left;
    }

    .fourth-section__bottom-text {
        text-align: center
    }

    .fifth-section__bottom-text {
        text-align: center
    }

    .sixth-section__bottom-text {
        text-align: center
    }

    .seventh-section__bottom-text {
        text-align: center
    }

    p {
        font-size: 18px;
    }

    ul {
        font-size: 20px
    }

}

.nav-menu-mobile {
    position: absolute;
    background: #fff;
    top: 65px;
    left: 0;
    width: 100%;
    border-top: 1px solid #e8eedd;
    padding-top: 4px;
    border-bottom: 1px solid #e8eedd;
}

.nav-hamburger-menu-close {

}

.wrapper-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
}

.line-menu {
    background-color: #91af5e;
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

.disp {
    display: block;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
